* {
    margin: 0;
    box-sizing: border-box;
}
body > img:nth-of-type(1) {
    display: none;
} body {
    background-image: none;
opacity: 1; }
body {
    
    background-repeat: no-repeat;
    max-width: 1305px;
    min-height: 1022px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}
.container > * {
    border: 2px dashed blue;
}

.container {
    display: grid;
    grid-template-rows: minmax(77px,auto) minmax(440px,auto) minmax(196px,auto) minmax(310px,auto);
    grid-template-columns: minmax(20px,250px) minmax(20px,705px) minmax(20px,350px);
    grid-template-areas: 
    "one one six"
    "five two two"
    "three three three"
    "four four four";
}

.box2 {
    color: white;
    background-image: url(https://unsplash.it/1500?random2);
    background-blend-mode: multiply
}

.box2 h1 {
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    padding-left: 82px;
    padding-top: 100px;
    font-weight: 600;
}
.box2 h2 {
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding-left: 82px;
    padding-top: 15px;
}

.box2 h3 {
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    font-weight: 200;
    padding-left: 82px;
    padding-top: 15px;

}

.box2 button {
    background-color: blue;
    color: white;
    border-color: blue;
    font-size: 14px;
}

.box3 {
    display: grid;
    grid-template-areas: 
    "one two three";
}

.box3 ul {
    display: flex;
    color: black;
    list-style-type: none;
    font-size: 10px;
    font-family: sans-serif;
    padding-top: 80px;
}

.box3 li {
    flex-direction: row;
}

.box3 li h2 {
    font-size: 14px;
    font-weight: 500;
}

.box4 ul {
    display: flex;
    color: black;
    list-style-type: none;
    font-family: sans-serif;
    padding-top: 80px;
    padding-left: 270px;
}

.box4 li {
    flex-direction: row;
    font-size: 14px;
    width: 300px
}



.box5 ul{
    
    display: flex;
    align-items: center;
    /* justify-content: right; */
    list-style-type: none;
    font-size: 18px;
    font-family: sans-serif;
    color: black;
    height: 100%;
    padding: 0px;
    padding-left: 0px;   
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
    }

.box5 li{
        color: white;
        padding: px;
        text-transform: uppercase;
        border-style: solid;
        border-color: black;
        padding: 25px;
    }



.box6 {
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 60px ;
    padding-top: 25px;
}





.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}




@media (max-width: 500px) {

    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
    }


}