body{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    background-color: dimgray;
}
#header{
    height: 6rem; border-bottom: 0.5rem; color: lightsteelblue;
}
h1{
    font-size: 1.5rem; color: white;
}
#title{
    height: 34rem; background-color: lightgray; align-content: center;
}
*{
    margin: 0;
}
#about{
    display: flex;
}
#about img{
    height: 15.5rem;
}
h3{
    color: lightsteelblue;
}
h3{
    width: 13rem;
}
h3{
    margin: center;
}
h3{
    text-align: center;
}
h3{
    padding-top: 3rem;
}
#fav{
    display: flex;
    justify-content: space-evenly;
}
